doctype html 
html
 head
   title Learn to code Html, CSS and JavaScript
   meta(name="description", content="This is a project")
   link(rel="stylesheet", href="style.css")
 body 
    header
         a.current(href="/") Home
         a(href="/html") Html
         a(href="/css") CSS
         a(href="/javascript") JavaScript


    article
         h1 this is a replica of w3schools.com
         p statement, pattern of behavior, a prototype, a "first" form or a main model which other statements, patterns of behavior, and objects copy, emulate or "merge" into. 
         h2 HTML
         p The language for building web pages #[a(href="/html") Check it out ! ]
         h2 CSS
         p The language  for styling web  pages #[a(href="/css") See awesome happening]
         h2 JavaScript
         p The language for programming web pages #[a(href="/javascript") Discover the way]

    nav
        h3 HTML and CSS
        a(href="/html") Learn Html
        a(href="/css") Learn CSS
        a(href="/javascript") Learn JavaScript

    footer &copy; It's Legit for 2020